.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.footer__columns {
  margin: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column{
  display: flex;
  flex-direction: column;
}

.footer__column_content-copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo_place-footer {
  width: 183px;
  height: 35px;
  margin: 0;
}

.footer__author {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #FFFFFF;
}

.footer__column_content-about {
  row-gap: 20px;
}

.footer__column_content-social {
  row-gap: 20px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #FFFFFF;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  text-decoration: none;
  color: #FFFFFF;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link:hover {
  transition: .5s ease;
  opacity: 0.5;
}

.footer__social-icons {
  width: 16px;
  height: 16px;
  padding-right: 10px;
  margin: 0;
}
