.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

@keyframes rotation{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/*--------HEADER--------------*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  overflow: hidden;
}

.logo {
  z-index: 1;
}

.logo_place_header {
  width: 154px;
  height: 31px;
  top: 30px;
  left: 64px;
  position: absolute;
}

.header__title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  position: absolute;
  align-self: center;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin: 0;
}

.header__link {
  top: 0;
  color: #2f80ed;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  margin: 0;
  right: 0;
}

.header__square {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  border: none;
  margin-top: 64px;
  position: absolute;
  padding: 0;
  right: 0;
  transform: rotate(-15deg);
  animation: rotation 20s infinite linear;
}

/*--------MAIN--------------*/
/*--------MAIN__DESCRIPTION--------------*/

.description {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  margin: 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.two-columns__paragraph {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*--------MAIN__techniques--------------*/

.techniques {
  width: 920px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.section-title {
  width: 60%;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  border: 1px solid red;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  border: 1px solid red;
}

.cards {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  column-gap: 100px;

}

.cards__item {
  width: 240px;
  margin: 0;


}

.cards__image {
  box-sizing: border-box;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border: 1px solid red;
}

.cards__title {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border: 1px solid red;
}

.cards__description {
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 16px;
  text-align: center;
  border: 1px solid red;
}

/*--------MAIN__VIDEO--------------*/

.video {
  width: 1100px;
  margin: auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  padding-top: 50px;
  display: flex;
  column-gap: 20px;
}

.video__iframe {
  border: none;
}


/*--------MAIN__OAKLEY--------------*/
/*--------MAIN__FEYNMAN--------------*/

.feynman {
  height: 790px;
  width: 100%;
  background-color: #f2f2f2;
  margin: 0;
  padding-top: 100px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  width: 775px;
  margin: 0;
  z-index: 3;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  margin: 0;
  padding-top: 70px;
  text-align: center;
  z-index: 2;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.feynman__image {
  width: 867px;
  height: 637px;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
/*--------MAIN__DIGITS--------------*/

.digits {
  margin: 0;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-top: 60px;
  row-gap: 60px;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin: 0;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
}

/*--------MAIN__KHAN--------------*/
/*--------MAIN__KAUFMAN--------------*/

.kaufman {
  background-color: #1f1f1f;
  margin: 0;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.section-title_theme-dark {
  color: #FFFFFF;
  z-index: 1;
}

.section-subtitle_theme-dark {
  color: #FFFFFF;
  z-index: 1;
}

.table_theme-dark {
  padding-top: 80px;
  row-gap: 80px;
}

.table__cell_theme-dark {
  width: 200px;
  z-index: 1;
}

.table__heading_theme-dark {
  color: #FFFFFF;
}

.table__text_theme-dark {
  color: #FFFFFF;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  right: -124px;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
}

/*--------MAIN__RESOURCES--------------*/
/*--------FOOTER--------------*/

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  margin: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column{
  display: flex;
  flex-direction: column;
}

.footer__column_content-copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.logo__place-footer {
  width: 183px;
  height: 35px;
  margin: 0;
}

.footer__author {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #FFFFFF;
}

.footer__column_content-about {
  row-gap: 20px;
}

.footer__column_content-social {
  row-gap: 20px;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #FFFFFF;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  text-decoration: none;
  color: #FFFFFF;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer_social-icons {
  width: 16px;
  height: 16px;
  padding-right: 10px;
  margin: 0;
}

